global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice
    maxconn 4096
    daemon

defaults
    balance leastconn
    log     global
    mode    http
    option  httplog
    option  httpchk
    option  http-server-close
    option  dontlognull
    option  forwardfor    
    timeout connect  10s
    timeout server   30s

frontend http_front
    bind *:80
    default_backend http_back

frontend stats
    bind *:{{ ENV_HAPROXY_STATS_PORT }}
    stats enable
    stats uri /stats
    stats auth {{ ENV_HAPROXY_STATS_USER }}:{{ ENV_HAPROXY_STATS_PASSWORD }}

backend http_back
    balance leastconn
    {% for server in backend_servers %}
    server {{ server.name }} {{ server.ip }}:{{ server.port }} check
    {% endfor %}
